@font-face {
    font-family: 'odachi';
    src: url('../fonts/Odachi.otf');
}

@font-face {
    font-family: 'bungeeshade';
    src: url('../fonts/BungeeShade.ttf');
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* -------------------------------SCROLLBAR------------------------------*/

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1f1f1f;
  }

/* -------------------------------HEADER------------------------------*/

header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    background-color: #1e1e1e;

    position: fixed;
    z-index: 99999;
    transition: 1s all;
}

header.sticky {
    background-color: #1e1e1e7a;
    height: 7vh;
}

header.sticky .titre1 {
    font-size: 30px;
}

.menu, ul, header {
    display: flex;
    flex-direction: row;
}

.titre1, .reseaux, nav {
    position: absolute;
}

.titre1 {
    left: 10%;
    font-family: 'bungeeshade';
    font-size: 40px;
    color: white;
    transition: 1s all;
}

nav {
    right: 15%;
}

.aheader {
    margin-right: 20px;
    font-family: poppins;
    text-transform: uppercase;
    transition: 0.5s all;
    color: white;
}

.aheader:hover {
    color: tomato;
}

.reseaux {
    right: 10%;
}

i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 40px;
    transition: 0.5s all;
    color: white;
}

i:hover {
    
    color: tomato;
}

/* -------------------------------presentation------------------------------*/

.presentation {
    height: 100vh;
    background-color: tomato;
    display: flex;
    align-items: center;
}

.presentaion-p {
    display: flex;
    flex-direction: column;
}

.ppropos {
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
    text-align: justify;
    font-family: poppins;
}

.ppropos1 {
    animation: fadeInLeft;
    animation-duration: 1s;
}

.ppropos2 {
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

.ppropos3 {
    animation: fadeInLeft;
    animation-duration: 2s;
}

.apropos {
    color: rgb(230, 230, 230);
}

.moi {
    position: absolute;
    right: 10%;
    width: 25%;
    border-radius: 5%;
    transition: 0.5s all;
}


/* -------------------------------competences------------------------------*/

.skills {
    height: 100vh;
    background-color: #1e1e1e;
}